* {
    box-sizing: border-box;
}

@font-face {
    font-family: DINPro-BlackItalic;
    src: url(fonts/DINPro-BlackItalic.otf);
}

@font-face {
    font-family: DINPro-BoldItalic;
    src: url(fonts/DINPro-BoldItalic.otf);
}

@font-face {
    font-family: DINPro-LightItalic;
    src: url(fonts/DINPro-LightItalic.otf);
}

@font-face {
    font-family: Garamond-Medium-500;
    src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

footer {
    text-align: center;
    text-decoration: none;
}

p {
    font-family: Garamond-Medium-500;
    color:white;
}

h1 {
    color: #ffffffbe;
    font-family: DINPro-BoldItalic;
    font-size: 3em;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
}

h2 {
    color: #ffffffbe;
    font-family: DINPro-BlackItalic;
    font-size: 6em;
    display: inline;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
}

h3 {
    color: #ffffffbe;
    font-family: DINPro-LightItalic;
    font-size: 1.2em;
}

h4 {
    color: #ffffffbe;
    font-family: DINPro-LightItalic;
    font-size: 0.8em;
}

a {
    color: #ffffffbe;
    font-family: DINPro-LightItalic;
    font-size: 2em;
    text-decoration: none;
}

.loader{
    justify-content: center;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact {
    position: fixed;
    text-align: center;
    display: inline;
}

.top {
    top: 0;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    text-align: center;
}

.bottom {
    bottom: 0;
    left: 50%;
}

.left {
    left: 0px;
    top: 75%;
    transform-origin: left;
    transform: rotate(-90deg);
    text-align: center;
}

.right {
    right: 0px;
    top: 70%;
    transform-origin: right;
    transform: rotate(90deg);
}

.center {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

.content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.video-list li {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 25px;
}

@media screen and (max-width: 768px) {
    .video-list li {
        width: calc(50% - 10px);
    }

    .contact.left,
    .contact.right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .video-list li {
        width: 100%;
    }

    h1 {
        color: #ffffffbe;
        font-family: DINPro-BoldItalic;
        font-size: 2em;
    }

    h2 {
        color: #ffffffbe;
        font-family: DINPro-BoldItalic;
        font-size: 1em;
    }

    h3 {
        color: #ffffffbe;
        font-family: DINPro-LightItalic;
        font-size: 0.6em;
    }

    a {
        color: #ffffffbe;
        font-family: DINPro-LightItalic;
        font-size: 1em;
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}