body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

header {
  background-color: blue;
}

main {
  margin: 0;
  padding: 0;
  background-color: green;
}

footer {
  background-color: royalblue;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#lottie {
  width: 50%;
  height: 50%;
}

#homepage {
  display: none;
  transition: opacity 0.5s ease;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 960px;
  /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: red;
}

.video-item {
  width: calc(33.33% - 10px);
  /* Adjust the width and spacing as needed */
  margin-bottom: 20px;
  /* Adjust the spacing between videos */
}

.video-item video {
  width: 100%;
  height: auto;
}

#content {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;

  margin-top: 100vh;
  background-color: orange;
}

.contact {
  position: fixed;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  z-index: 998;
  /* Ensures the contact words appear above the video */
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 999;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}